<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soluto.carouselnotification">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <receiver android:name=".CarouselEventReceiver">
            <intent-filter>
                <action android:name="com.soluto.CAROUSELNOTIFICATIONFIRED"/>
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
